body{
	background-image: url("pozadina.jpg");
	background-size: cover;
}
section{
  background-color: #bab737dd;
  border-radius:40px;
  
}
.container{
	height:100vh;
}
.container h2{
	font-size:22px;


	
}
